<ion-header [translucent]="true" >
  <ion-toolbar color="danger" >
    <ion-title>
      PIZZAS
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" >
  <div style="text-align:center"><h2> Tradicionais</h2>
  </div>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzabrocolis.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">Brocolis

        <br>
        <h3>Mussarela,brócolis creme de leite</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 40,90</p>
      </ion-text>
      </ion-label >
      <ion-item>



      </ion-item>
    </ion-item>

    <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizzabacon.jpg">
    </ion-thumbnail>

      <ion-label >Bacon
        <br>
        <h3>Mussarela e bacon</h3>
        <ion-text color="danger">
        <p>VALOR: R$ 42,90</p>
      </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzaqueijo.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Cinco queijos
        <br>
        <h3>Mussarela, requeijão, parmesão, provolone e cheddar</h3>
        <ion-text color="danger">
        <p>VALOR: R$ 40,00</p>
      </ion-text>

      </ion-label>
    </ion-item>


    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzacalabresa.jpg">
      </ion-thumbnail>
      <ion-label>Calabresa
        <br>
        <h3>Mussarela e calabresa</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 44,90</p>
      </ion-text>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzaatum.jpg">
      </ion-thumbnail>
      <ion-label>Atum
        <br>
        <h3>Mussarela e atum</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 47,30</p>
      </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizzafrango.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">Frango
      <br>
      <h3>Mussarela frango desfiado e milho</h3>
      <ion-text color="danger">
      <p>VALOR:R$ 42,50</p>
    </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizzaalho.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">Alho e Óleo
      <br>
      <h3>Mussarela,alho frito,parmesão e azeitonas</h3>
      <ion-text color="danger">
      <p>VALOR:R$ 42,50</p>
    </ion-text>
    </ion-label>
  </ion-item>







  <div style="text-align:center"><h2> Pizzas Doces</h2>
    </div>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzaprestigio.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Prestigio
        <br>
        <h3>Chocolate coberto com prestigio e côco ralado</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 44,50</p>
      </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzabanana.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Chocolate c/ Banana
        <br>
        <h3>Chocolate e banana fatiada</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 40,90</p>
      </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzamm.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">M&M's
        <br>
        <h3>Chocolate coberto com confetes coloridos</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 42,90</p>
      </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzachoco.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Choco Ball
        <br>
        <h3>Chocolate coberto com cereais crocantes</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 42,90</p>
      </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizzamorango.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Morango c/ chocolate
        <br>
        <h3>Chocolate coberto com morangos</h3>
        <ion-text color="danger">
        <p>VALOR:R$ 44,90</p>
      </ion-text>
      </ion-label>
    </ion-item>

</ion-content>

